aeppl==0.0.31
aesara==2.6.6
appnope==0.1.2
argon2-cffi==21.1.0
arrow==1.2.1
arviz==0.12.0
attrs==21.2.0
backcall==0.2.0
binaryornot==0.4.4
bleach==4.1.0
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
cftime==1.6.0
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
cloudpickle==2.1.0
cons==0.4.5
cookiecutter==1.7.3
corner==2.2.1
cycler==0.11.0
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
deprecat==2.1.1
dill==0.3.4
entrypoints==0.3
etuples==0.3.5
fastprogress==1.0.2
filelock==3.6.0
fonttools==4.28.3
graphviz==0.20
idna==3.3
ipykernel==6.6.0
ipython==7.30.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
jedi==0.18.1
Jinja2==3.0.3
jinja2-time==0.2.0
joblib==1.1.0
jplephem==2.16
jsonschema==4.2.1
julia==0.5.7
jupyter==1.0.0
jupyter-client==7.1.0
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
kiwisolver==1.3.2
llvmlite==0.38.0
logical-unification==0.4.5
MarkupSafe==2.0.1
matplotlib==3.5.0
matplotlib-inline==0.1.3
memory-profiler==0.60.0
Mesa==0.8.9
miniKanren==1.0.3
mistune==0.8.4
mpmath==1.2.1
multipledispatch==0.6.0
nbclient==0.5.9
nbconvert==6.3.0
nbformat==5.1.3
nest-asyncio==1.5.4
netCDF4==1.5.8
networkx==2.6.3
notebook==6.4.6
numpy==1.22.1
packaging==21.3
pandas==1.3.4
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
poyo==0.5.0
prometheus-client==0.12.0
prompt-toolkit==3.0.23
psutil==5.9.0
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.10.0
pymc==4.0.0
pymc3==3.11.5
pyparsing==3.0.6
pyrsistent==0.18.0
pysr==0.8.4
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.3
pyzmq==22.3.0
qtconsole==5.2.1
QtPy==1.11.2
requests==2.26.0
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.11.2
semver==2.13.0
Send2Trash==1.8.0
setuptools-scm==6.3.2
sgp4==2.20
six==1.16.0
sklearn==0.0
skyfield==1.40
sympy==1.10.1
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
Theano-PyMC==1.1.2
threadpoolctl==3.1.0
tomli==1.2.2
toolz==0.11.2
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.2.0
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.2
wrapt==1.14.0
xarray==2022.3.0
